body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button {
  margin: 0 30px;
  padding: 10px 25px;
  background: crimson;
  color: white;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 0 15px crimson;
  font-weight: 600;
}

button:hover {
  background: white;
  color: crimson;
  cursor: pointer;
}